body {
    background-image: url('images/background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    font-size: 0;
}

header {
    width: 100%;
    color: goldenrod;
    font-size: 8vh;
    font-family: "Berlin Sans FB", 'sans-serif';
    text-align: center;
    margin-bottom: 20px;
}

a {
    font-size: 4vh;
    font-family: "Berlin Sans FB", 'sans-serif';
    display: inline-flex;
}

li {
    margin: 1vh;
}
a {
    color: white;

}

.reset {
    background-color: white;
    color: goldenrod;
    text-align: center;
    font-size: 5vh;
    margin-left: 75px;
    font-family: "Berlin Sans FB", 'sans-serif';
}

#statsContainer {
    width: 340px;
    float: left;
    color: goldenrod;
    font-family: "Berlin Sans FB", 'sans-serif';
}

.rulesArea {
    width: 18vw;
    margin-left: 4vh;
    float: left;
    color: goldenrod;
    font-family: 'Berlin Sans FB', 'sans-serif';
}

.label {
    font-size: 5vh;
    margin-bottom: 0;
    text-decoration: underline;
    text-align: center;
    margin-top: 1vh;
}
#accuracy_value, .saddleBrownText {
    color: goldenrod;
}

#rulesHeader {
    font-size: 5vh;
    font-family: "Berlin Sans FB", 'sans-serif';
    text-align: center;
    text-decoration: underline;
}

.rules {
    text-align: center;
    font-size: 3vh;
}

.value {
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
}

#game-area, #fumble {
    width: 49vw;
    float: left;
    margin-left: 4vh;
    padding: 1vh;
}

#fumble > img {
    width: 100%;
}

.card {
    height: 25vh;
    width: 8vw;
    display: inline-block;
    border: 1px solid goldenrod;
}

.back {
    height: 25vh;
    width: 8vw;
}

.card img {
    position: absolute;
    height: 25vh;
    width: 8vw;
}

.youWin_img>img {
    width: 50vw;
}

.flipped {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

@media only screen and (max-width: 590px) {
    #statsContainer {
        width: 100%;
    }
}

